<p>hello shop</p>












<%=form_for(@user,url: shops_path) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :mobile_number %><br />
    <%= f.text_field :mobile_number, autofocus: true, autocomplete: "email" %>
  </div>



  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


  <%=f.fields_for :profileable , @user.profileable  do |builder| %>


    <div class="field">
      <%= builder.label :category %><br />
      <%= builder.text_field :category, autofocus: true %>
    </div>
  <% end %>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


